<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}App Blue{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('ample/images/favicon.png')}}">
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset ('ample/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ asset ('ample/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset ('ample/css/animate.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset ('ample/css/style.css')}}" rel="stylesheet">
    <!-- color CSS -->
    <link rel="stylesheet" href="{{ asset ('styles/estilos.css')}}">
    <link href="{{ asset ('ample/css/colors/default.css')}}" id="theme" rel="stylesheet">
    <link href="{{ asset ('ample/bower_components/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset ('ample/bower_components/switchery/dist/switchery.min.css')}}" rel="stylesheet" />
    {% block css %}{% endblock %}
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="{{ path ('homepage')}}">
                        <!-- Logo icon image, you can use font-icon also --><b>
                        <!--This is dark logo icon--><img src="{{ asset ('ample/images/admin-logo.png')}}" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="{{ asset ('ample/images/admin-logo-dark.png')}}" alt="home" class="light-logo" />
                     </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is dark logo text--><img src="{{ asset ('ample/images/admin-text.png')}}" alt="home" class="dark-logo" /><!--This is light logo text--><img src="{{ asset ('ample/images/admin-text-dark.png')}}" alt="home" class="light-logo" />
                     </span> </a>
                </div>
                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                            <span class="img-small" style="background-image: url('{{ asset ('img/allImg/'~app.user.image)}}');"></span>
                            <b class="hidden-xs">{{app.user.username|upper}}</b><span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-text">
                                        <h4>{{app.user.name}} {{app.user.lastName}}</h4>
                                        <p class="text-muted">{{app.user.email}}</p></div>
                                </div>
                            </li>
                            
                            <li><a href="{{ path ('cambiar_imagen')}}">Cambiar imagen</a></li>
                            <li><a href="{{ path ('edit_user')}}">Editar perfil</a></li>
                            {% if app.user.rola == 'SUPER ADMIN' %}
                                <li><a href="{{ path ('edit_pw_user')}}">Cambiar contraseña</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path ('logout')}}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
               
                <ul class="nav" id="side-menu">
                    <li> <a href="{{ path ('homepage')}}" class="waves-effect"><i class="mdi mdi-home fa-fw"></i><span class="hide-menu">Inicio</span></a> </li>
                    <li> <a href="{{ path ('transferir')}}" class="waves-effect"><i  class="mdi mdi-transfer fa-fw"></i> <span class="hide-menu">Transferir</span></a> </li>
                    <li> <a href="{{ path ('transferencias')}}" class="waves-effect"><i class="mdi mdi-clipboard-check fa-fw"></i><span class="hide-menu">Transacciones</span></a> </li>
                    {% if app.user.rola != 'SUPER ADMIN' %}
                        <li> <a href="{{ path ('solicitudes_new')}}" class="waves-effect"><i class="mdi mdi-google-maps fa-fw"></i><span class="hide-menu">Solicitar</span></a> </li>
                    {% endif %}
                    <li> <a href="#" class="waves-effect"><i class="mdi mdi-file-document-box fa-fw" data-icon="v"></i> <span class="hide-menu"> Solicitudes <span class="fa arrow"></span> </span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{{path ('solicitudes_index')}}"><i class=" fa-fw"></i><span class="hide-menu">Todas </span></a> </li>
                            <li> <a href="{{path ('solicitudes_pendientes')}}"><i class=" fa-fw"></i><span class="hide-menu">Pendientes </span></a> </li>
                            <li> <a href="{{path ('solicitudes_aprobadas')}}"><i class=" fa-fw"></i><span class="hide-menu">Aprobadas </span></a> </li>
                            <li> <a href="{{path ('solicitudes_rechazadas')}}"><i class=" fa-fw"></i><span class="hide-menu">Rechazadas</span></a> </li>
                        </ul>
                    </li>
                    {% if app.user.rola == 'SUPER ADMIN' %}
                    <li> <a href="{{ path ('cajas_index')}}" class="waves-effect"><i class="mdi mdi-cube-send fa-fw"></i> <span class="hide-menu">Cajas</span></a></li>
                    {#
                    <li> <a href="{{ path ('codigos_index')}}" class="waves-effect"><i class="mdi mdi-calendar-check fa-fw"></i> <span class="hide-menu">Codigos</span></a></li>
                    #}
                    <li> <a href="{{ path ('users_index')}}" class="waves-effect"><i class="mdi mdi-account-box fa-fw"></i> <span class="hide-menu">Usuarios</span></a></li>
                    <li> <a href="{{ path ('eventos_index')}}" class="waves-effect"><i class="mdi mdi-calendar-check fa-fw"></i> <span class="hide-menu">Eventos</span></a></li>
                    {% endif %}
                    <li><a href="{{ path ('logout')}}" class="waves-effect"><i class="mdi mdi-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    
                </div>
                {% block body %}{% endblock %}
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br/>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                            </ul>
                            <ul class="m-t-20 all-demos">
                                <li><b>Choose other demos</b></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{{ asset ('ample/images/users/varun.jpg')}}" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="{{ asset ('ample/images/users/genu.jpg')}}" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->

    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="{{ asset ('ample/bower_components/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset ('ample/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{ asset ('ample/bower_components/sidebar-nav/dist/sidebar-nav.min.js')}}"></script>
    <script src="{{ asset ('ample/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
    <!--slimscroll JavaScript -->
    <script src="{{ asset ('ample/js/jquery.slimscroll.js')}}"></script>
    <!--Wave Effects -->
    <script src="{{ asset ('ample/js/waves.js')}}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset ('ample/js/custom.min.js')}}"></script>
    <!--Style Switcher -->
    <script src="{{ asset ('ample/bower_components/styleswitcher/jQuery.style.switcher.js')}}"></script>
    <script src="{{ asset ('ample/bower_components/switchery/dist/switchery.min.js')}}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
    // Switchery
var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
$('.js-switch').each(function() {
    new Switchery($(this)[0], $(this).data());
});
</script>
    {% block javascripts %}{% endblock %}
</body>
</html>
