{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<div class="box-title">Solicitudes</div>
			<div class="table-responsive">
				<table id="tabla" class="table table-striped table-hover">
					<thead>
						<tr>
							<th class="text-center">Id</th>
							<th class="text-center">Caja Solicitada</th>
							<th class="text-center">Caja que Solicita</th>
							<th class="text-center">Usuario que Solicita</th>
							<th class="text-center">Usuario que Aprueba</th>
							<th class="text-center">Status</th>
							<th class="text-center">Asociacion</th>
							<th class="text-center">Codigo</th>
							<th class="text-center">Fuente</th>
							<th class="text-center">Fecha</th>
							<th class="text-left">Monto</th>
							<th class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for solicitud in solicitudes %}
						<tr >
							<td class="text-center" >{{solicitud.id}}</td>
							<td class="text-center" >{{solicitud.cajaSolicitada.nombre|default('ninguno')}}</td>
							<td class="text-center" >{{solicitud.cajaSolicita.nombre|default('ninguno')}}</td>
							<td class="text-center" >{{solicitud.userSolicita.name|default('ninguno')}}</td>
							<td class="text-center" >{{solicitud.userAprueba.name|default('ninguno')}}</td>
							<td class="text-center" >{{solicitud.status}}</td>
							<td class="text-center" >{{solicitud.asociacion.nombre}}</td>
							<td class="text-center" >{{solicitud.codigo.iniciales}}</td>
							<td class="text-center" >{{solicitud.fuente.nombre}}</td>
							<td class="text-center" >{{solicitud.fecha|date('d-m-Y')}}</td>
							<td class="text-left text-bold">{{solicitud.monto|number_format(2,',','.')}} R$</td>
							<td>
							{% if (solicitud.status == 'pendiente' and solicitud.cajaSolicitada.id in misCajas ) or (app.user.rola == 'SUPER ADMIN' and solicitud.status == 'pendiente') %}
								<a data-toggle="tooltip" data-placement="top" title="Rechazar" href="{{ path ('solicitudes_rechazar', {'id':solicitud.id})}}" class="btn btn-sm btn-danger m-r-5"><i class="fa fa-remove"></i></a>
								<a data-toggle="tooltip" data-placement="top" title="Aprobar" href="{{ path ('solicitudes_aprobar', {'id':solicitud.id})}}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
							{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$('#tabla').DataTable({
	"order": [[ 0, "desc" ]]
});
</script>
{% endblock %}
